apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - clusterissuer.yaml
  - certificate.yaml
  - https://raw.githubusercontent.com/traefik/traefik/v2.9.1/docs/crds/traefik.crds.yaml
