apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: vault
annotations:
  traefik.ingress.kubernetes.io/router.tls.insecureSkipVerify: "true"
spec:
  rules:
    - host: vault.matiix310.dev
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: vault
                port:
                  number: 8200
  tls:
    - hosts:
        - vault.matiix310.dev
      secretName: tls-certificate
